@import "../../../../scss/_colors.scss";

.form-file {
  .fields-access {
    max-height: 275px;
    background-color: $background-form !important;
  }
  .title-form {
    padding-bottom: unset !important;
  }
  .actions-form {
    float: right !important;
    margin-top: unset !important;
    margin-bottom: 17px !important;
  }
}

.ui.modal.transition.visible.active.form-modal-file {
  max-width: 568px !important;
}
