$color-close: #ACB0BA;
$background-table: #fafbfd;
$background-active-row: #eff1f6;
$border-color: #dadada;
$background-color-hover-row: #e8ebf0;
$menu-header-item: #0078ba;
$background-header: #f4c700;
$color-blue:  #0078ba;
$color-icon: $color-close;
$button-cancel: $background-color-hover-row;
$background-form: $background-table;
$background-form: #F7F7F7;
$color-blue: #0052a1;
$primary-color-positive: $color-blue;
$icon-color-circular: #1b1c1d;
$icon-color: #767675;